<div id="map" style="center width: 600px; height: 400px;"></div>
<script>
  {{#each stations}}
    {{#if @last}}
      var map = L.map('map').setView([{{latitude}}, {{longitude}}], 12);
      L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', { maxZoom:
      19, attribution: '© OpenStreetMap' }).addTo(map);
    {{/if}}
  {{/each}}

  {{#each stations}}

    L.marker([{{latitude}},
    {{longitude}}]).addTo(map) .bindPopup("{{name}}");

  {{/each}}

</script>